# Binaries
terraform-provider-berth
*.exe
*.dll
*.so
*.dylib

# Test binary
*.test

# Go
*.out
vendor/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# IDE
.idea/
*.swp
*.swo
*~
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
